@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom properties for light and dark themes */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-bg: #ffffff; /* Navbar background for light theme */
  --button-bg: #ffffff; /* Button background for light theme */
  --navbar-text: #000000; /* Navbar text color for light theme */
  --button-text: #000000; /* Button text color for light theme */
  --footer-bg: #ffffff; /* Footer background for light theme */
  --button2-bg: #000000; /* sign up widget  button*/
  --paragraph-color: #171717; /* paragraph color */
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --navbar-bg: #333; /* Navbar background for dark theme */
  --button-bg: #333; /* Button background for dark theme */
  --navbar-text: #333; /* Navbar text color for light theme */
  --button-text: #333; /* Button text color for light theme */
  --footer-bg: #0000; /* Footer background for dark theme */
  --button2-bg: #333; /* sign up widget button*/
  --paragraph-color: #888888; /* Light gray color for paragraphs in dark mode */

}

/* Apply the custom properties to the body */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* p {
  color: var(--paragraph-color-light);
} */
